body {
  font-family: "helvetica neue", arial, sans-serif;
  font-weight: 300;
}
div.container {
  margin: 20px auto;
  width: 960px;
}
table {
  border-collapse: collapse;
  th {
    background: #eee;
  }
  th, td {
    padding: 8px;
    border: 1px solid #ccc;
  }
}
div.actions {
  padding: 10px 0;
}